name: Testing

on: [push, pull_request]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ["3.8", "3.9", "3.10"]

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Set gfortran link on macos-latest
      if: matrix.os == 'macos-latest'
      run: |
        set -x
        sudo ln -s /usr/local/bin/gfortran-11 /usr/local/bin/gfortran
        gfortran --version

    - name: Install via pip
      run: |
        python -m pip install --upgrade pip
        python -m pip install numpy==1.22.4 pytest pytest-cov
        python -m pip install -e .

    - name: Install extra dependencies (camb)
      run: |
        python -m pip install camb

    - name: Unit tests
      run: |
        pytest -vv pspy --cov=pspy --cov-report=xml:coverage.xml --ignore=pspy/tests/test_pspy_namaster.py

    - name: Report Coverage (codecov)
      if: matrix.os == 'ubuntu-latest'
      uses: codecov/codecov-action@v3

    - name: Test notebooks (Only on Linux for saving time)
      if: matrix.os == 'ubuntu-latest'
      run: |
        pip install jupyter
        jupyter nbconvert --to notebook --execute notebooks/tutorial_io.ipynb
