name: Testing

on:
  pull_request:
  push:
    branches: [master]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ["3.8", "3.9", "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Set gfortran link on macos-latest
      if: matrix.os == 'macos-latest'
      run: |
        set -x
        sudo ln -s /usr/local/bin/gfortran-11 /usr/local/bin/gfortran
        gfortran --version

    - name: Install via pip
      run: |
        python -m pip install --upgrade pip wheel
        python -m pip install numpy pytest pytest-cov
        python -m pip install -e .

    - name: Install extra dependencies (camb)
      run: |
        python -m pip install camb

    - name: Download test data
      run: |
        wget https://github.com/xzackli/pspy/releases/download/v.test/example_newcov.zip
        unzip example_newcov.zip
        mv example_newcov pspy/tests/data/

    - name: Unit tests
      run: |
        pytest -vv pspy --cov=pspy --cov-report=xml:coverage.xml --ignore=pspy/tests/test_pspy_namaster.py

    - name: Report Coverage (codecov)
      if: matrix.os == 'ubuntu-latest'
      uses: codecov/codecov-action@v3

    - name: Test notebooks (Only on Linux for saving time)
      if: matrix.os == 'ubuntu-latest'
      run: |
        python -m pip install jupyter
        jupyter nbconvert --to notebook --execute notebooks/tutorial_io.ipynb

    - name: Comparing pspy to NaMaster
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get install -y libcfitsio-dev libfftw3-dev
        python -m pip install pymaster
        python -m unittest pspy/tests/test_pspy_namaster.py
